table {
  th,
  td {
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  #HoleRow,
  #GreenRow,
  #ParRow {
    background-color: green;
    color: white;
  }
  #LGreenRow {
    background-color: greenyellow;
  }
  #BlueRow {
    background-color: blue;
    color: white;
  }
  #GrayRow {
    background-color: grey;
  }
  #title {
    font-size: larger;
    font-weight: 700;
  }
  .PlayerRow {
    td {
      padding: 0;
      margin: 0;
      width: 1em;
      input {
        // width: 60%;
        padding-top: 10%;
        padding-bottom: 10%;
        // margin: 10%;
        border: none;
        outline: none;
      }
    }
  }
  border: 1px solid black;
  border-collapse: collapse;
}
